USE [master]
GO
/****** Object:  Database [Test-14-11]    Script Date: 14.11.2024. 15:12:23 ******/
CREATE DATABASE [Test-14-11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test-14-11', FILENAME = N'C:\Users\MyPC\Test-14-11.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test-14-11_log', FILENAME = N'C:\Users\MyPC\Test-14-11_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test-14-11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test-14-11]
GO
/****** Object:  Table [dbo].[jezik]    Script Date: 14.11.2024. 15:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jezik](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[skraceni_naziv] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_jezik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prevod]    Script Date: 14.11.2024. 15:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prevod](
	[prevod] [bigint] IDENTITY(1,1) NOT NULL,
	[srp_id] [bigint] NOT NULL,
	[jezik_id] [bigint] NOT NULL,
 CONSTRAINT [PK_prevod] PRIMARY KEY CLUSTERED 
(
	[prevod] ASC,
	[srp_id] ASC,
	[jezik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[srpski]    Script Date: 14.11.2024. 15:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[srpski](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_srpski] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[prevod]  WITH CHECK ADD  CONSTRAINT [FK_prevod_jezik] FOREIGN KEY([jezik_id])
REFERENCES [dbo].[jezik] ([id])
GO
ALTER TABLE [dbo].[prevod] CHECK CONSTRAINT [FK_prevod_jezik]
GO
ALTER TABLE [dbo].[prevod]  WITH CHECK ADD  CONSTRAINT [FK_prevod_srpski] FOREIGN KEY([srp_id])
REFERENCES [dbo].[srpski] ([id])
GO
ALTER TABLE [dbo].[prevod] CHECK CONSTRAINT [FK_prevod_srpski]
GO
USE [master]
GO
