USE [Projekat-Softveri]
GO
/****** Object:  Table [dbo].[Bibliotekar]    Script Date: 3/9/2026 11:17:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bibliotekar](
	[idBibliotekar] [bigint] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Bibliotekar] PRIMARY KEY CLUSTERED 
(
	[idBibliotekar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bib-Smena]    Script Date: 3/9/2026 11:17:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bib-Smena](
	[idBibliotekar] [bigint] NOT NULL,
	[idTerminSmene] [bigint] NOT NULL,
	[datum] [date] NOT NULL,
 CONSTRAINT [PK_Bib-Smena] PRIMARY KEY CLUSTERED 
(
	[idBibliotekar] ASC,
	[idTerminSmene] ASC,
	[datum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clan]    Script Date: 3/9/2026 11:17:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clan](
	[idClan] [bigint] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[telefon] [bigint] NOT NULL,
	[datumOd] [date] NOT NULL,
	[datumDo] [date] NOT NULL,
	[idClanstvo] [bigint] NULL,
 CONSTRAINT [PK_Clan] PRIMARY KEY CLUSTERED 
(
	[idClan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clanstvo]    Script Date: 3/9/2026 11:17:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanstvo](
	[idClanstvo] [bigint] IDENTITY(1,1) NOT NULL,
	[cena] [bigint] NOT NULL,
	[vrsta] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clanstvo] PRIMARY KEY CLUSTERED 
(
	[idClanstvo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Knjiga]    Script Date: 3/9/2026 11:17:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knjiga](
	[idKnjiga] [bigint] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[imePisca] [nvarchar](50) NOT NULL,
	[prezimePisca] [nvarchar](50) NOT NULL,
	[brojPrimeraka] [int] NOT NULL,
 CONSTRAINT [PK_Knjiga] PRIMARY KEY CLUSTERED 
(
	[idKnjiga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pozajmica]    Script Date: 3/9/2026 11:17:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozajmica](
	[idPozajmica] [bigint] IDENTITY(1,1) NOT NULL,
	[datumOd] [date] NOT NULL,
	[idClan] [bigint] NOT NULL,
	[idBibliotekar] [bigint] NOT NULL,
 CONSTRAINT [PK_Pozajmica] PRIMARY KEY CLUSTERED 
(
	[idPozajmica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaPozajmice]    Script Date: 3/9/2026 11:17:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaPozajmice](
	[idPozajmica] [bigint] NOT NULL,
	[rbStavkaPozajmice] [bigint] IDENTITY(1,1) NOT NULL,
	[rokPozajmice] [date] NOT NULL,
	[idKnjiga] [bigint] NOT NULL,
	[datumVracanja] [date] NULL,
 CONSTRAINT [PK_StavkaPozajmice] PRIMARY KEY CLUSTERED 
(
	[idPozajmica] ASC,
	[rbStavkaPozajmice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminSmene]    Script Date: 3/9/2026 11:17:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminSmene](
	[idTerminSmene] [bigint] IDENTITY(1,1) NOT NULL,
	[termin] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TerminSmene] PRIMARY KEY CLUSTERED 
(
	[idTerminSmene] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bibliotekar] ON 

INSERT [dbo].[Bibliotekar] ([idBibliotekar], [ime], [prezime], [username], [password]) VALUES (1, N'Iva', N'Kostić', N'iva', N'iva123')
INSERT [dbo].[Bibliotekar] ([idBibliotekar], [ime], [prezime], [username], [password]) VALUES (2, N'Ana', N'Jovanović', N'ana', N'ana123')
INSERT [dbo].[Bibliotekar] ([idBibliotekar], [ime], [prezime], [username], [password]) VALUES (3, N'Petar', N'Petrović', N'pera', N'pera123')
SET IDENTITY_INSERT [dbo].[Bibliotekar] OFF
GO
INSERT [dbo].[Bib-Smena] ([idBibliotekar], [idTerminSmene], [datum]) VALUES (1, 16, CAST(N'2024-12-14' AS Date))
INSERT [dbo].[Bib-Smena] ([idBibliotekar], [idTerminSmene], [datum]) VALUES (1, 16, CAST(N'2026-03-07' AS Date))
INSERT [dbo].[Bib-Smena] ([idBibliotekar], [idTerminSmene], [datum]) VALUES (1, 16, CAST(N'2026-03-08' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Clan] ON 

INSERT [dbo].[Clan] ([idClan], [ime], [prezime], [telefon], [datumOd], [datumDo], [idClanstvo]) VALUES (1, N'Petar', N'Lazarević', 111555999, CAST(N'2024-05-10' AS Date), CAST(N'2025-05-10' AS Date), 1)
INSERT [dbo].[Clan] ([idClan], [ime], [prezime], [telefon], [datumOd], [datumDo], [idClanstvo]) VALUES (2, N'Isidora', N'Radović', 222444666, CAST(N'2024-03-15' AS Date), CAST(N'2024-09-15' AS Date), 2)
INSERT [dbo].[Clan] ([idClan], [ime], [prezime], [telefon], [datumOd], [datumDo], [idClanstvo]) VALUES (3, N'Luka', N'Nešić', 333777888, CAST(N'2024-04-01' AS Date), CAST(N'2024-05-01' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Clan] OFF
GO
SET IDENTITY_INSERT [dbo].[Clanstvo] ON 

INSERT [dbo].[Clanstvo] ([idClanstvo], [cena], [vrsta]) VALUES (1, 2000, N'Godišnje')
INSERT [dbo].[Clanstvo] ([idClanstvo], [cena], [vrsta]) VALUES (2, 1200, N'Polugodišnje')
INSERT [dbo].[Clanstvo] ([idClanstvo], [cena], [vrsta]) VALUES (3, 300, N'Mesečno')
SET IDENTITY_INSERT [dbo].[Clanstvo] OFF
GO
SET IDENTITY_INSERT [dbo].[Knjiga] ON 

INSERT [dbo].[Knjiga] ([idKnjiga], [naziv], [imePisca], [prezimePisca], [brojPrimeraka]) VALUES (1, N'Hobit', N'J.R.R.', N'Tolkien', 3)
INSERT [dbo].[Knjiga] ([idKnjiga], [naziv], [imePisca], [prezimePisca], [brojPrimeraka]) VALUES (2, N'Gospodar prstenova', N'J.R.R.', N'Tolkien', 1)
INSERT [dbo].[Knjiga] ([idKnjiga], [naziv], [imePisca], [prezimePisca], [brojPrimeraka]) VALUES (3, N'Silmarilion', N'J.R.R.', N'Tolkien', 1)
SET IDENTITY_INSERT [dbo].[Knjiga] OFF
GO
SET IDENTITY_INSERT [dbo].[Pozajmica] ON 

INSERT [dbo].[Pozajmica] ([idPozajmica], [datumOd], [idClan], [idBibliotekar]) VALUES (1, CAST(N'2024-12-10' AS Date), 1, 1)
INSERT [dbo].[Pozajmica] ([idPozajmica], [datumOd], [idClan], [idBibliotekar]) VALUES (2, CAST(N'2024-12-11' AS Date), 2, 2)
INSERT [dbo].[Pozajmica] ([idPozajmica], [datumOd], [idClan], [idBibliotekar]) VALUES (3, CAST(N'2024-12-12' AS Date), 3, 3)
SET IDENTITY_INSERT [dbo].[Pozajmica] OFF
GO
SET IDENTITY_INSERT [dbo].[StavkaPozajmice] ON 

INSERT [dbo].[StavkaPozajmice] ([idPozajmica], [rbStavkaPozajmice], [rokPozajmice], [idKnjiga], [datumVracanja]) VALUES (1, 1, CAST(N'2024-12-20' AS Date), 1, CAST(N'2026-03-01' AS Date))
INSERT [dbo].[StavkaPozajmice] ([idPozajmica], [rbStavkaPozajmice], [rokPozajmice], [idKnjiga], [datumVracanja]) VALUES (1, 2, CAST(N'2024-12-22' AS Date), 2, CAST(N'2026-02-28' AS Date))
INSERT [dbo].[StavkaPozajmice] ([idPozajmica], [rbStavkaPozajmice], [rokPozajmice], [idKnjiga], [datumVracanja]) VALUES (2, 3, CAST(N'2024-12-25' AS Date), 3, NULL)
SET IDENTITY_INSERT [dbo].[StavkaPozajmice] OFF
GO
SET IDENTITY_INSERT [dbo].[TerminSmene] ON 

INSERT [dbo].[TerminSmene] ([idTerminSmene], [termin]) VALUES (16, N'08-12')
INSERT [dbo].[TerminSmene] ([idTerminSmene], [termin]) VALUES (17, N'12-16')
INSERT [dbo].[TerminSmene] ([idTerminSmene], [termin]) VALUES (18, N'16-20')
SET IDENTITY_INSERT [dbo].[TerminSmene] OFF
GO
ALTER TABLE [dbo].[Knjiga] ADD  DEFAULT ((1)) FOR [brojPrimeraka]
GO
ALTER TABLE [dbo].[Bib-Smena]  WITH CHECK ADD  CONSTRAINT [FK_Bib-Smena_Bibliotekar] FOREIGN KEY([idBibliotekar])
REFERENCES [dbo].[Bibliotekar] ([idBibliotekar])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bib-Smena] CHECK CONSTRAINT [FK_Bib-Smena_Bibliotekar]
GO
ALTER TABLE [dbo].[Bib-Smena]  WITH CHECK ADD  CONSTRAINT [FK_Bib-Smena_TerminSmene] FOREIGN KEY([idTerminSmene])
REFERENCES [dbo].[TerminSmene] ([idTerminSmene])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bib-Smena] CHECK CONSTRAINT [FK_Bib-Smena_TerminSmene]
GO
ALTER TABLE [dbo].[Pozajmica]  WITH CHECK ADD  CONSTRAINT [FK_Pozajmica_Bibliotekar] FOREIGN KEY([idBibliotekar])
REFERENCES [dbo].[Bibliotekar] ([idBibliotekar])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Pozajmica] CHECK CONSTRAINT [FK_Pozajmica_Bibliotekar]
GO
ALTER TABLE [dbo].[Pozajmica]  WITH CHECK ADD  CONSTRAINT [FK_Pozajmica_Clan] FOREIGN KEY([idClan])
REFERENCES [dbo].[Clan] ([idClan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Pozajmica] CHECK CONSTRAINT [FK_Pozajmica_Clan]
GO
ALTER TABLE [dbo].[StavkaPozajmice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPozajmice_Knjiga] FOREIGN KEY([idKnjiga])
REFERENCES [dbo].[Knjiga] ([idKnjiga])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaPozajmice] CHECK CONSTRAINT [FK_StavkaPozajmice_Knjiga]
GO
ALTER TABLE [dbo].[StavkaPozajmice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPozajmice_Pozajmica] FOREIGN KEY([idPozajmica])
REFERENCES [dbo].[Pozajmica] ([idPozajmica])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaPozajmice] CHECK CONSTRAINT [FK_StavkaPozajmice_Pozajmica]
GO
ALTER TABLE [dbo].[Clan]  WITH CHECK ADD  CONSTRAINT [CK_Clan] CHECK  (([telefon]>(0)))
GO
ALTER TABLE [dbo].[Clan] CHECK CONSTRAINT [CK_Clan]
GO
ALTER TABLE [dbo].[Clan]  WITH CHECK ADD  CONSTRAINT [CK_Clan_1] CHECK  (([datumOd]<getdate()))
GO
ALTER TABLE [dbo].[Clan] CHECK CONSTRAINT [CK_Clan_1]
GO
ALTER TABLE [dbo].[Clan]  WITH CHECK ADD  CONSTRAINT [CK_Clan_2] CHECK  (([datumDo]>[datumOd]))
GO
ALTER TABLE [dbo].[Clan] CHECK CONSTRAINT [CK_Clan_2]
GO
ALTER TABLE [dbo].[Clanstvo]  WITH CHECK ADD  CONSTRAINT [CK_Clanstvo] CHECK  (([cena]>(0)))
GO
ALTER TABLE [dbo].[Clanstvo] CHECK CONSTRAINT [CK_Clanstvo]
GO
ALTER TABLE [dbo].[Pozajmica]  WITH CHECK ADD  CONSTRAINT [CK_Pozajmica] CHECK  (([datumOd]<getdate()))
GO
ALTER TABLE [dbo].[Pozajmica] CHECK CONSTRAINT [CK_Pozajmica]
GO
