USE [master]
GO
/****** Object:  Database [Projekat-Softveri]    Script Date: 14.12.2024. 13:24:24 ******/
CREATE DATABASE [Projekat-Softveri]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projekat-Softveri', FILENAME = N'C:\Users\MyPC\Projekat-Softveri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Projekat-Softveri_log', FILENAME = N'C:\Users\MyPC\Projekat-Softveri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Projekat-Softveri].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Projekat-Softveri]
GO
/****** Object:  Table [dbo].[Bibliotekar]    Script Date: 14.12.2024. 13:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bibliotekar](
	[idBibliotekar] [bigint] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Bibliotekar] PRIMARY KEY CLUSTERED 
(
	[idBibliotekar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bib-Smena]    Script Date: 14.12.2024. 13:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bib-Smena](
	[idBibliotekar] [bigint] NOT NULL,
	[idTerminSmene] [bigint] NOT NULL,
	[datum] [date] NOT NULL,
 CONSTRAINT [PK_Bib-Smena] PRIMARY KEY CLUSTERED 
(
	[idBibliotekar] ASC,
	[idTerminSmene] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clan]    Script Date: 14.12.2024. 13:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clan](
	[idClan] [bigint] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[telefon] [bigint] NOT NULL,
	[datumOd] [date] NOT NULL,
	[datumDo] [date] NOT NULL,
	[idClanstvo] [bigint] NULL,
 CONSTRAINT [PK_Clan] PRIMARY KEY CLUSTERED 
(
	[idClan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clanstvo]    Script Date: 14.12.2024. 13:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanstvo](
	[idClanstvo] [bigint] IDENTITY(1,1) NOT NULL,
	[cena] [bigint] NOT NULL,
	[vrsta] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clanstvo] PRIMARY KEY CLUSTERED 
(
	[idClanstvo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Knjiga]    Script Date: 14.12.2024. 13:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knjiga](
	[idKnjiga] [bigint] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[imePisca] [nvarchar](50) NOT NULL,
	[prezimePisca] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Knjiga] PRIMARY KEY CLUSTERED 
(
	[idKnjiga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pozajmica]    Script Date: 14.12.2024. 13:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozajmica](
	[idPozajmica] [bigint] IDENTITY(1,1) NOT NULL,
	[datumOd] [date] NOT NULL,
	[idClan] [bigint] NOT NULL,
	[idBibliotekar] [bigint] NOT NULL,
 CONSTRAINT [PK_Pozajmica] PRIMARY KEY CLUSTERED 
(
	[idPozajmica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaPozajmice]    Script Date: 14.12.2024. 13:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaPozajmice](
	[idPozajmica] [bigint] NOT NULL,
	[rbStavkaPozajmice] [bigint] IDENTITY(1,1) NOT NULL,
	[rokPozajmice] [date] NOT NULL,
	[idKnjiga] [bigint] NOT NULL,
 CONSTRAINT [PK_StavkaPozajmice] PRIMARY KEY CLUSTERED 
(
	[idPozajmica] ASC,
	[rbStavkaPozajmice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminSmene]    Script Date: 14.12.2024. 13:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminSmene](
	[idTerminSmene] [bigint] IDENTITY(1,1) NOT NULL,
	[termin] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TerminSmene] PRIMARY KEY CLUSTERED 
(
	[idTerminSmene] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bib-Smena]  WITH CHECK ADD  CONSTRAINT [FK_Bib-Smena_Bibliotekar] FOREIGN KEY([idBibliotekar])
REFERENCES [dbo].[Bibliotekar] ([idBibliotekar])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bib-Smena] CHECK CONSTRAINT [FK_Bib-Smena_Bibliotekar]
GO
ALTER TABLE [dbo].[Bib-Smena]  WITH CHECK ADD  CONSTRAINT [FK_Bib-Smena_TerminSmene] FOREIGN KEY([idTerminSmene])
REFERENCES [dbo].[TerminSmene] ([idTerminSmene])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bib-Smena] CHECK CONSTRAINT [FK_Bib-Smena_TerminSmene]
GO
ALTER TABLE [dbo].[Pozajmica]  WITH CHECK ADD  CONSTRAINT [FK_Pozajmica_Bibliotekar] FOREIGN KEY([idBibliotekar])
REFERENCES [dbo].[Bibliotekar] ([idBibliotekar])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Pozajmica] CHECK CONSTRAINT [FK_Pozajmica_Bibliotekar]
GO
ALTER TABLE [dbo].[Pozajmica]  WITH CHECK ADD  CONSTRAINT [FK_Pozajmica_Clan] FOREIGN KEY([idClan])
REFERENCES [dbo].[Clan] ([idClan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Pozajmica] CHECK CONSTRAINT [FK_Pozajmica_Clan]
GO
ALTER TABLE [dbo].[StavkaPozajmice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPozajmice_Knjiga] FOREIGN KEY([idKnjiga])
REFERENCES [dbo].[Knjiga] ([idKnjiga])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaPozajmice] CHECK CONSTRAINT [FK_StavkaPozajmice_Knjiga]
GO
ALTER TABLE [dbo].[StavkaPozajmice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPozajmice_Pozajmica] FOREIGN KEY([idPozajmica])
REFERENCES [dbo].[Pozajmica] ([idPozajmica])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaPozajmice] CHECK CONSTRAINT [FK_StavkaPozajmice_Pozajmica]
GO
ALTER TABLE [dbo].[Clan]  WITH CHECK ADD  CONSTRAINT [CK_Clan] CHECK  (([telefon]>(0)))
GO
ALTER TABLE [dbo].[Clan] CHECK CONSTRAINT [CK_Clan]
GO
ALTER TABLE [dbo].[Clan]  WITH CHECK ADD  CONSTRAINT [CK_Clan_1] CHECK  (([datumOd]<getdate()))
GO
ALTER TABLE [dbo].[Clan] CHECK CONSTRAINT [CK_Clan_1]
GO
ALTER TABLE [dbo].[Clan]  WITH CHECK ADD  CONSTRAINT [CK_Clan_2] CHECK  (([datumDo]>[datumOd]))
GO
ALTER TABLE [dbo].[Clan] CHECK CONSTRAINT [CK_Clan_2]
GO
ALTER TABLE [dbo].[Clanstvo]  WITH CHECK ADD  CONSTRAINT [CK_Clanstvo] CHECK  (([cena]>(0)))
GO
ALTER TABLE [dbo].[Clanstvo] CHECK CONSTRAINT [CK_Clanstvo]
GO
ALTER TABLE [dbo].[Pozajmica]  WITH CHECK ADD  CONSTRAINT [CK_Pozajmica] CHECK  (([datumOd]<getdate()))
GO
ALTER TABLE [dbo].[Pozajmica] CHECK CONSTRAINT [CK_Pozajmica]
GO
USE [master]
GO
